html {
	box-sizing: border-box;
	font-size: $main-fz;
	@include max-width(768px) {
		font-size: 14px;
	}
}
html,
body {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
 
:focus::-webkit-input-placeholder {
  color: transparent
}
 
:focus::-moz-placeholder {
  color: transparent
}
 
:focus:-moz-placeholder {
  color: transparent
}
 
:focus:-ms-input-placeholder {
  color: transparent
}


body {
	margin: 0;
	padding: 0;
	font-family: $main-font, sans-serif;
	color: $main-color;
}
// start reset CSS
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
select {
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

textarea {
	resize: none;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
// end reset CSS

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}
.container-fluid {
	max-width: $main-width;
	// padding: 0 15px;
	margin: 0 auto;
}


.action {
	font-weight: 600;
}
.upper-case {
	text-transform: uppercase;
}