@mixin font-face($path, $name, $style: normal, $weight: normal) {
  @font-face { 
    font-family: #{$name};

    src: url("#{$path}/#{$name}.woff") format("woff"),
      url("#{$path}/#{$name}.woff2") format("woff2");

    font-style: $style; 
    font-weight: $weight;
    font-display: swap; 
    } 
} 


@mixin max-width($width) {
  @media only screen and (max-width: $width) {
      @content;
  }
}

@mixin min-width($width) {
  @media only screen and (min-width: $width) {
      @content;
  }
}
@mixin max-height($height) {
  @media only screen and (max-height: $height) {
      @content;
  }
}
